{:datomic {:uri "datomic:sql://{{ clojure_app_name }}?jdbc:postgresql://localhost:5432/{{ database_name }}?user={{ database_user }}&password={{ database_password }}"}
 :http {:port {{ clojurians_app_http_port }}
        :origin "https://clojurians-log.clojureverse.org"}
 :slack {:api-token "{{ slack_api_token }}"
         :log-dir "{{ clojure_app_home_dir }}/logs/logs"}
 :cache-time 2678400 ;; ~one month
 :message-page {:cache-time 2678400}
 }
