{:user {:repositories
        {"my.datomic.com" {:url "https://my.datomic.com/repo"
                           :username "{{ datomic_pro_email }}"
                           :password "{{ datomic_pro_download_key }}"}}

        :dependencies
        [[com.datomic/datomic-pro "{{ datomic_pro_version }}"]]}}
